
.lastMessage {
    border-bottom: #ece5e5 dotted 1px;
}

.lastMessage:hover {
    background-color: #4f4f51;
    cursor: pointer;
}

.lastMessageHeader {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.lastMessageTime {
    color: #91a3cd;
}

.lastMessageContent {
    color: #91a3cd;
}