
.app {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(50px, 100px) 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "header header"
    "subheader subheader"
    "navbar content";
}

.content {
    grid-area: content;
    background-color: grey;
}
