
.dialogsWrapper {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 2fr;
}

.dialogsList {
    background-color: #282c34;
}

.lastMessage {
    border-bottom: #ece5e5 dotted 1px;
}

.lastMessage:hover {
    background-color: #4f4f51;
    cursor: pointer;
}

.lastMessageHeader {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.lastMessageTime {
    color: #91a3cd;
}

.lastMessageContent {
    color: #91a3cd;
}